@model List<SnackShop.Core.Models.ProductModel>
@{
    ViewData["Title"] = "Admin - Snacks";
}
<div class="admin-menu">
  <h2 class="current-page">Snacks</h2>
  <h2 class="admin-menu-item"><a href="/admin/orders/">Orders</a></h2>
</div>

<div class="card">
<div class="card-body">
<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in @Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price kr</td>
                <td><a href="/admin/edit/@product.Slug" class="btn btn-sm btn-outline-success">Edit</a></td>
                <td><form action="/admin/delete/" method="post">
                    <input type="hidden" name="productId" value="@product.Id" />
                    <button class="btn btn-sm btn-outline-danger">Delete</button>
                </form></td>
            </tr>
        }
    </tbody>
</table>

<a href="/admin/add" class="btn btn-success">Add Snack</a>
</div>
</div>
