
@{
    ViewData["Title"] = "Error";
}

<div class="hero">
    <h2 class="main-heading">Oops!</h2>
    <h3 class="main-heading">It looks like this page doesn't exists!</h3>
    <img src="https://cdn140.picsart.com/235917633001212.png?r1024x1024" alt="Unicorn!!" />
</div>
