@model List<SnackShop.Core.Models.ProductModel>

@{
    ViewData["Title"] = "Store Page";
}

<h2 class="main-heading">Welcome to <span>Snackshop!</span></h2>
<h3 class="main-heading">For all your snacky needs!</h3>

<div class="card">
<div class="card-body">
<div class="product-wrapper">
    @foreach (var product in Model)
    {
        <div class="product">
            <img src="@product.ImageUrl" />
            <div class="row">
              <h4><a href="/product/@product.Slug">@product.Name</a></h4>
              <a href="cart/add/@product.Id" class="btn btn-success">Add to cart</a>
            </div>
        </div>
    }
    </div>
    </div>
</div>
