@model List<SnackShop.Core.Models.ProductModel>

@{
    ViewData["Title"] = "Store Page";
}

<h2>Welcome to Snackshop!</h2>

<div class="product-wrapper">
    @foreach (var product in Model)
    {
        <div class="card">
            <img src="@product.ImageUrl" />
            <h4><a href="/product/@product.Slug">@product.Name</a></h4>
        </div>
    }
</div>