body {
  background-image: url("/../images/background.png"); }

.body-content {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.navbar-brand {
  font-family: 'Bangers', sans-serif;
  font-size: 2rem;
  letter-spacing: .1rem; }

.main-heading, h2 {
  color: white;
  font-family: 'Bangers', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center; }
  .main-heading span, h2 span {
    font-size: 3rem; }

.product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .8rem; }

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  .product img {
    width: 75%; }
  .product .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; }

.address {
  margin-bottom: 1rem; }
  .address p {
    margin: 0; }

.button-container {
  display: flex;
  justify-content: space-between; }
  .button-container form {
    display: inline-block; }

.table {
  margin: auto;
  width: 75%; }
