.order-heading {
  text-align: center;
}

.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;

  .address {
    margin: 1rem 0;
    p {
      margin: 0;
    }
  }
}

.inline-buttons {
  display: flex;
  justify-content: space-between;
}

.inline {
  display: inline-block;
}
